# ETH MAIN

ETH_MAIN_NODE="https://mainnet.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161"
ETH_MAIN_DEPLOYER=""

# ETH GOERLI

GOERLI_NODE="https://goerli.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161"
GOERLI_DEPLOYER=""

ETHERSCAN_API_KEY=""
