# ETH MAIN

ETH_MAIN_NODE="https://mainnet.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161"
ETH_MAIN_DEPLOYER=""

# ETH ROPSTEN

ROPSTEN_NODE="https://ropsten.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161"
ROPSTEN_DEPLOYER=""

ETHERSCAN_API_KEY=""
